main {
  min-height: 80vh;
}
h3{
  padding: 1rem;
}
.rating span{
 margin: 0.1rem;
}
.color-custom {
  background-color: black;
}
.link-custom{
  color: white;
}
.navbar {
  border:0px;
}

.dropdown-menu {
  border: 0px;
  }
.card-custom{
  border: 0px;
}
.card-custom:hover {
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.text-decoration{
  text-decoration: line-through;
}
.icon-custom i{
  font-size: 20px;
}
